//fonts

$hammersithoneregular : 'HammersmithOne-Regular';
$playfairdisplayblack : 'PlayfairDisplay-Black';
$playfairdisplaybold : 'PlayfairDisplay-Bold';
$playfairdisplayregular : 'PlayfairDisplay-Regular';
$robotoblack : 'Roboto-Black';
$robotothin : 'Roboto-Thin';
$robotolight : 'Roboto-Light';

//colors
$logo : #23BCC8;
$turquoise : #00e0d0; //кнопки и ховеры
$purple : #311d5e;
$purple2 : #09052f;
$headers : #413d4b;
$paragraph : #333333;
$form-color : #BCBBBE;
